
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');



body{
    font-size: 12px;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;  
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    width: 85%;
}

.nav-container {
    background: black;

    a{
        color: white;
    }
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    text-transform: uppercase;


    .logo{
        font-weight: 600;
        margin: 0 1rem;
    }
    
    ul{
        display: flex;

        a{
            display: block;
            padding: 0 .8em;
            margin-right: 2rem;
        }
    }

}

.hero{
    background: #E18F39;
    color: white;
    display: grid;
    grid-template-columns: 5fr 3fr;
    flex-direction:column;
    text-align: left;
}
.right-black{
    background-color: black;
    display: none;
}

.content{
    font-size: 1.2em;
    line-height: 2.5em;
    display: flex;
    width: 300px;
    margin: 0 2.5rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding-top: 3rem;
}
.tags{
    display: flex;
    margin: 0em 2.5rem;
    width: 350px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    color: #A56726;
    margin-top: -1rem;
    
}

.scroll{
    width: 30px;
    margin: 2em 2.5rem;

}

.featured{
    display: flex;
    flex-direction: column;
    // min-height: 70vh;

    // flex-wrap: wrap;
}

.project-title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
    margin: 0 2.5rem;
    margin-top: 3rem;
    display: block;
}

.project-subtitle{
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: 600;
    color: #E18F39;
    margin: 0 2.5rem;
}
.image-container{
    display: block;
    // padding-top: 2em;
    margin: 0 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 15rem;
    position: relative;
}
.project-image{
    position: absolute;
    margin: 0;
    
    width: 100%;
    height: 100%;
    background-size: cover;
}
.overlay{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #E18F39;
    transition: .5s ease;
    opacity: 0;
    display: grid;
    grid-template: "up up up"
    "up up up"
    "down down down";
  h1{
    padding-left: 2em ;
    padding-bottom: 2em;
    grid-area: down;
    text-align: down;
    text-transform: uppercase;
  }
}

.overlay:hover{
    opacity: 1;
}

#byjus{
    background-image: url("/images/byjus-cover.jpg");
}

#provokal{
    background-image: url("/images/provokal-cover.jpg");
}
.white{
    color: white;
}
.black{
    background-color: black;
}

@media only screen and (min-width: 800px) {
    body{
        font-size: 18px;
    }
    header{

        .logo{
            margin-left: 4rem;
        }
    }
    .hero{
        min-height: 80%;
        .content{
            width: 500px;
            margin-top: 4rem;
            
        }.content, .scroll, .tags{
            margin-left: 6rem;
       
        }
    }
.right-black{
    display: block;
}
 
    .featured{
        min-height: 70vh;
        display: grid;
        grid-template-columns: 1fr 5fr;
        .image-container{
            // margin-left: 8em;
            margin: 0;
            padding: 0;
            // background-size:cover;

           
        }
    }
    .project-title, .project-subtitle{
        min-width: 400px;
        margin-left: 6rem;
        
    }.project-title{
        margin-top: 2em;
    }
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;

    }
    100%{
        width: 0;
        left: 100%;
    }
}