@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

ul{
    list-style-type: none;  
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.mobile-nav-container{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    .mobile-nav{
        overflow: hidden;
        transform: translateX(100%);
        position: fixed;
        width: 90%;
        height: 100vh;
        background-color: white;
        z-index: 99;

        .close{
            width: 25px;
            float: right;            
            padding: 2em;
        }
        ul{
            list-style-type: none;
            text-transform: uppercase;
            margin-top: 40%;
            margin-left: 20%;
            li{
                a{
                color: black;
                font-weight: 400;
                font-size: 1.5em;


                }
                padding-top: 3em;
                

            }
        }
    }

  
    .smooth{
        transition: all 500ms ease-in-out;
    }
    .open-nav{
        transform: translate(0%);
     }
}


.nav-container {
    background: black;
   
    a{
        color: white;
    }
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    text-transform: uppercase;
    .logo{
        margin-left: 1em;
        width: 2em;
        height: 2em;
    }
    
    .hamburger{
        width: 2em;
        height: 2em;
    }

    ul{
        display: none;
        a{
            display: block;
            padding: 0 5.5em;
            transition: all ease-out 200ms;
            span{
                color: black;
            }
            &:hover{
                transform: scale(1.1);
                font-weight: 600;
                span{
                    color: white;
                }
            }
        }
    }

}
#a{
    display: none;
}
.hero-container{
    position: relative;
    svg{
        display: none;
    }
    .hero-text{
        padding-left: 3em;
        h1{
            font-size: 18vw;
            color: white;
            text-transform: uppercase;
            line-height: 1em;
            position: relative;
        }
        
        
    }   

    .hero-image{
        overflow: hidden;
        padding-left: 4em;
        img{
            width: 120vw;
        }
    }
}

@media only screen and (min-width: 500px){
    .hero-container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        .hero-text{
            padding: 2em;
            h1{
                font-size: 12vw;
                line-height: 1em;
            }
           
        }
        .hero-image{
            // padding-right: -4em;
            margin-left: -20em;
            overflow: visible;
            img{
                //width: 500px;
                padding: 0;
                margin: 0;
            }
        }
        
    }
}

@media only screen and (min-width: 650px) {
    .hamburger{
        display: none;
    }
    header{
        ul{
        display: flex;
        font-size: 0.625em;
        padding-right: 0;
        }
    }

    #a{
        max-width: 25vw;
        font-weight: 200;
        margin-top: -1em;
        font-size: 1.2vw;
        display:block;
    }
    .hero-container{
        margin-top: 4vh;
        //max-width: 1100px;
        
        .hero-text{
            position: relative;
            margin-top: -2.8em;
            h1{
                font-weight: 900;
                font-size: 10vw;
                line-height: 1em;
                position: relative;
            }
           
        }

       
        .hero-image{
            margin-left: -15em;
        }
    }
}

@media only screen and (min-width: 750px) {
    .nav-container{
        display: flex;
        align-items: center;
        justify-content: center;
        header{
            width: 100%;
            max-width: 90vw;
            padding-bottom: 0;
        }
    }
    

    .contain{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-container{
        svg{
            padding-top: 53%;

            width: 3em;
            display: flex; 
            circle{
                fill: black;
                transition: all ease 200ms;
            }path{
                stroke: white;
                transition: all ease 200ms;
            }              
        &:hover circle{
            fill: white;
        }
        &:hover path{
            stroke: black;
        }
        }
        .hero-text{
            h1{
                font-size: 10vw;
                line-height: 1em;
            }
        }
        .hero-image{
            margin-left: -8em;
            margin-right: 2em;
            padding: 0;
            img{
                width: 100%;
                //max-width: 900px;
            }
        }
    }
}


@media only screen and (min-width: 1200px) {
    #a{
        font-size: 0.8vw;
    }
    header{
        ul{
        font-size: 0.8vw;
        }
    }
//     body{
//         font-size: 18px;
//     }
//     .nav-container{
//         header{
//             padding-right: 8em;
//         }
//     }
    .contain{
        .hero-container{
            .hero-image{
                width: 45vw;
            }
            .hero-text{
                h1{
                    font-size: 8vw;
                }
                
            }
            svg{
                padding-top: 50.5%;
            }
        }
    }
}
